body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-dark);
  margin-bottom:50px;
  color: var(--text-on-dark);
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 10px rgba(88, 88, 88, 0.433);
}
html, body {
  height: 100%;
  width: 100%;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* COLOR VARS  */

:root {
  --bg : rgb(255, 255, 255);
  --sec-beige:rgb(252, 241, 233);
  --text-on-bg : rgb(19, 19, 19);
}

a{
  text-decoration: none;
  color: var(--text-on-dark);
}
